
<div class="container mt-3 ">
    <div  class="d-flex justify-content-center">
      <pre  style="font-family: 'Anton', sans-serif;font-size:85px;">About Us<hr></pre>
    </div>

    <div class="d-flex ">
        <div class=" d-flex" style="width:500px;height: 450px;">
          <img src="../../assets/images/aboutus.png" style="width:250px;height: 450px;">
        </div>
        <div class="d-flex" style="width:650px;height: 450px;">
        <p style="margin-top: 50px;"> Gr Fashion House has now become the latest emerging fashion
          chain in Sri Lanka. Our stores offer a wide range of clothing and accessories for men, women and children.Although Gr Fashion House has not been established for a long time, it has managed to gain customer attraction and trust.
          <br><br>
          We strive to offer the Sri Lankan consumer valuable clothing and accessories of international and local fashion. Here we have integrated our physical stores with digital channels to create a seamless and engaging customer experience online and in-store.</p>

        </div>
    </div>
</div>

