
<div class="container-fluid d-flex justify-content-center bg-primary p-5" id="main-div">
 
    <div class="rounded-3 mt-5" style="width:600px;height:450px;" id="secdiv">
      <pre class="" style="font-family: 'Anton', sans-serif;text-align: center;font-size: 55px;color: #F8FAFD;margin-top:45px;">ADMIN  PANEL  PAGE<hr></pre>


      
      <div class="form-group mt-4">
        <div class="d-grid">
          <a href="addproduct" type="button" class="btn  btn-block mt-2 text-white" style="background-color: #001F3D;">ADD PRODUCT</a>
        </div>
       
        

        <div class="d-grid">
          <a href="adminchat" type="button" class="btn btn-block mt-2 text-white" style="background-color: #001F3D;">CHAT WITH WEB USER'S</a>
        </div>
      </div>
      
    
  
  </div>
  </div>

