<div class="container-fluid mt-0">

    <div class="row" style=" color: #F8FAFD; background-color: #0A0708;">
       <div class="col-4"  style="background-color: #0A0708;">
          <h4 class="mt-3 ms-3 ">GR  Fashion </h4>
            <ul class="mt-0 ps-4 " style="list-style-type: none; background-color: #0A0708;">
                <li class="page-item"><a class="page-link" href="">INFORMATION</a></li>
                <li class="page-item"><a class="page-link"  href="">Home</a></li>
                <li><a class="page-link"  href="">About US</a></li>
                <li><a class="page-link"  href="">Contact Us</a></li>
                <li><a class="page-link"  href="">Our Products</a></li>
                <li><a class="page-link"  href="adminlogin">Admin Panel</a></li>
            </ul>
        </div>

      <div class="col-4" style="background-color: #0A0708;">
         <p class="mt-3 ms-3" id="mname">GR TEXTILE OPENING HOURS</p>
            <ul class=" ps-4" style="list-style-type: none;background-color: #0A0708;">
                <li><p id="sname">Mon-Fri : 9.00 AM to 5.30 PM</p></li>
                <li><p id="sname">Saturday : 9.00 AM to 2.30 PM</p></li>
                <li><p id="sname">Sunday : Closed</p></li>
            </ul>
      </div>

      <div class="col-4 " style="background-color: #0A0708;">
         <p class="mt-3 ms-3" id="mname">CONTACT US</p>
            <ul class=" ps-4 " style="list-style-type: none; background-color: #0A0708;">
              <li><p id="sname"><i class="fi fi-sr-phone-call" style="margin-right:5px;"></i>077 235 2235</p></li>
              <li><p id="sname"><i class="fi fi-sr-marker" style="margin-right:5px;"></i>NO.167/B High Level Rd, Nugegoda.</p></li>
              <li><p id="sname"><i class="fi fi-sr-envelope" style="margin-right:5px;"></i>GrTextile52@gmail.com</p></li>
            </ul>
      </div>

    </div>
      
    <div class="row  p-3 mt-0" style="background-color: #444444">
      <div class="col-12 d-flex justify-content-center"style="height:20px;color:#F8FAFD;background-color: #444444;">
            <i class="fi fi-brands-facebook"style="margin-right:20px;font-size:30px;"></i>
            <i class="fi fi-brands-twitter" style="margin-right:20px;font-size:30px;"></i>
            <i class="fi fi-brands-instagram" style="margin-right:20px;font-size:30px;"></i>
            <i class="fi fi-brands-youtube" style="margin-right:20px;font-size:30px;"></i>
            <i class="fi fi-brands-linkedin" style="margin-right:20px;font-size:30px;"></i>
      </div>
     
    </div>
      

      <div class="row d-flex justify-content-center " style="background-color: #444444">
            <hr style="color:#B1B1B1;width:1300px;margin-top:10px;">
         <div class="col-12"style="height:20px;">
        
         </div>
    </div>
    
  </div>

