<div class="container-fluid "> 
        <div class="d-flex justify-content-center">
           <pre class="" style="font-family: 'Anton', sans-serif;font-size:85px;">Categorie's<hr></pre>
          </div>
        
        
        
    <div class="d-flex justify-content-center mb-5" >    
     <div class="" style="width:330px;height: 470px;">
        <a href="men" style="text-decoration: none;"><span>
                    <h1 class="Htag">MEN'S</h1> 
             <img class ="myImg" src="../../assets/images/men.jpg" alt="Snow" style="width:323px;height: 470px;"> 
            </span>  </a>
      </div>
       <div style="width:330px;height: 470px;">
        <a href="women" style="text-decoration: none;"><span>
                    <h1 class="Htag">WOMEN'S</h1> 
                    <img class ="myImg" src="../../assets/images/women.jpg" alt="Snow" style="width:323px;height: 470px;">
            </span></a>
      </div>
      <div style="width:330px;height: 470px;">
        <a href="kids" style="text-decoration: none;"><span>
                    <h1 class="Htag">KIDS</h1> 
                    <img class ="myImg" src="../../assets/images/kid.jpg" alt="Snow" style="width:323px;height: 470px;">
            </span></a>
      </div>
    </div>
    <br>
    <br>
 </div>