<!--nav bar-->
  <div class="container-fluid " id="header">
		<div class="row">
		<div class="col-sm-4  p-3" style="background-color:#0A0708 ;color:#747474">
			<a class="page-link " id="text" href=""><i class="fi fi-ss-book-alt" style="font-size:15px;color:#B1B1B1;margin-left: 10px;margin-right: 10px;margin-top: 15px;"></i>GR  Fashion </a>
		</div>
		<div class="col-sm-8 p-1" style="background-color:#0A0708 ;color:#747474">
			<div class="d-flex justify-content-end">
            <a class="page-link m-2" href="">HOME</a>
            <a class="page-link m-2"href="men">MEN</a>
            <a class="page-link m-2" href="women">WOMEN</a>
            <a class="page-link m-2" href="kids">KIDS</a>
            <a class="page-link m-2" href="">ABOUT US</a>
            <a class="page-link m-2" href="sign">SIGN IN</a>
            <a class="page-link m-2" href="login">LOGIN</a>
     </div>
		</div>
	</div>
  </div>